* {
  button {
    cursor: pointer;
  }
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #F4F9F8;
}

/* logo */
.Logo {
  display: flex;
  flex: 1;
  flex-shrink: 0;

  height: 70px;
  background: #F4F9F8;
  width: 100%;

  img {
    width: 200px;
    height: 47.5px;
    margin-left: 30px;
    padding: 10px;
  }

  button{
    font-size: 30px;
    border: none;
    background: top;
    margin-left: 73%;
  }
}

/* all fuction */
.main {
  display: flex;
  flex: 1;
  height: calc(100% - 100px);
  justify-content: center;
  margin-top: 20px;
}

/* music and timer */
.mt {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 320px;
  max-height: 550px;
  margin-left: 10px;
  padding-left: 20px;
  background-color: #fff;

  figure {
    margin: 0;
    margin-top: 10px;
    margin-left: 0px;

    figcaption {
      margin-bottom: 20px;
    }
  }

  .time {
    width: 49px;
    height: 49px;
    background-color: #000;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border: 1px #fff solid;
    float: left;
  }

  .box {
    width: 200px;
    height: 30px;
    margin: 0 10px;
    margin-top: 0px;
  }

  .boxx {
    width: 20px;
    height: 49px;
    float: left;
    color: #000;
    font-size: 50px;
    text-align: center;
    line-height: 40px;
  }

  .butt {
    margin: 0 20px;
    height: 20px;
    width: 200px;
    margin-top: 30px;
  }

  .butt button {
    width: 55px;
    height: 23px;
    border: 1px #fff solid;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    font-size: 10px;

    &:hover {
      color: #000;
      background-color: #fff;
      border: #000 solid;
    }
  }


  .box2 {
    width: 200px;
    height: 30px;
    margin: 0 50px 30px;
    margin-top: 0px;
  }

  .boxx2 {
    width: 20px;
    height: 49px;
    float: left;
    color: #000;
    font-size: 50px;
    text-align: center;
    line-height: 40px;
  }

  .butt2 {
    margin: 0 20px;
    height: 60px;
    width: 200px;
    margin-top: -25px;
  }

  .butt2 input {
    width: 55px;
    height: 23px;
    border: 1px #fff solid;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    font-size: 10px;
    cursor: pointer;

    &:hover {
      color: #000;
      background-color: #fff;
      border: #000 solid;
    }
  }

  .textPom {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 2px;
  }
}

/* center */
.center {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 620px;
  margin: 0 10px;

  /* calender */
  .date {
    display: flex;
    flex-direction: column;
    color: #333;
    padding: 12px;
    background-color: #fff;
    margin-bottom: 10px;
  }

  /* readinglist */
  .read_list {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 1;
    background: #fff;
    left: 40%;
    padding: 10px;

    .readingButton {
      padding: 2.5px 20px;
      border: 1px #fff solid;
      border-radius: 3px;
      background-color: #000;
      color: #fff;

      &:hover {
        color: #000;
        background-color: #fff;
        border: #000 solid;
        padding: 1.25px 18px;
      }
    }

    ul {
      padding: 0 10px;
      padding-left: 0;

      li {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        border-bottom: solid #33333342;

        p {
          overflow: auto;
        }
      }
    }

    #openAll {
      padding: 2.5px 20px;
      border: 1px #fff solid;
      border-radius: 3px;
      background-color: #000;
      color: #fff;

      &:hover {
        color: #000;
        background-color: #fff;
        border: #000 solid;
        padding: 1.25px 18px;
      }
    }
  }
}

/* tasklist */
.task_list {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 320px;

  button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 15px;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }

  .sort {
    display: flex;

    #dueSort {
      width: 50%;
      margin-right: 5px;
    }

    #rateSort {
      width: 50%;
      margin-left: 5px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      background-color: #fff;
      margin-top: 10px;
      padding: 8px;
    }

    button {
      padding: 5px 20px;
      border: 1px #fff solid;
      border-radius: 8px;
      background-color: #000;
      color: #fff;
      font-size: 15px;

      &:hover {
        color: #000;
        background-color: #fff;
        border: #000 solid;
      }
    }
  }
}

#taskform {
  input {
    width: 60%;
    margin-bottom: 10px;
  }

  select {
    width: 60%;
    font-size: 15px;
  }
}

#setHide{
  label{
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    input{
      width: 23px;
      height: 23px;
    }
  }
}


/* Phone version */
@media screen and (max-width: 820px){
  .Logo{
    img{
      margin-left: 0;
      margin-top: 10px;
      width: 30%;
      height: 36%;
    }
    button{
      margin-left: 55%;
    }
  }
  .main{
  flex-direction: column-reverse;
  justify-content: flex-end;
    .center{
      margin: 0 !important;
      .date{
        display: none;
      }
    }
    .task_list{
      margin-bottom: 100px;
      max-width: none;
    }
  }

  .mt{
    max-width: none;
    margin-left: 0;
    .box{
      margin: 0 56px;
    }
    .butt{
      margin: 30px 68px 0;
    }
    .box2{
      margin: 0 93px 30px;
    }
    #p1{
      margin-left: 125px;
    }
    #p2{
      margin: 15px 45px !important;
    }
    #p3{
      margin: 15px 45px;
    }
    .butt2{
      margin: -25px 68px 0;
    }
  }

  .read_list{
    margin-bottom: 50px !important;
    #readingInput{
      width: 70% !important;
    }
  }

  .page-container{
    display: none;
    width: 100% !important;
  }
  #pnhide{
    display: none !important;
  }
}